* {
        font-family: Roboto;

}

body {
    width: 1440px;
}
:root {
    --bg: rgb(0, 0, 0);
    --btn: rgb(255, 74, 50);
    --color_text: rgb(255, 74, 50);
    --color_price_or: rgb(255, 33, 33);
    --color_price_dark: rgb(55, 55, 55);
    --color_price_gray: rgba(0, 0, 0, 0.3);
    --text_layout: rgb(255, 255, 255);
    --text_dark: rgb(0, 0, 0);
}

.first_head {
    display: flex;
}

.first_head_text {
    Font-weight: 400;
    font-size: 12px;
    height: 15px;
    padding: 7px 50%;
    background-color: var(--bg);
    color: rgb(251, 251, 251);
}

.wellcome {
    color: rgb(0, 0, 0);
    font-size: 44px;
    font-weight: 400;
    line-height: 50.63px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto ;
}

.wellcome_list {
    padding-top: 53px;
}

.wellcome_holy {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto 0;
}

.wellcome_btn_list {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 22px auto 0;
        gap: 12px;
        flex-wrap: nowrap;
}

.wellcome_btn {
            width: 200px;
            height: 33px;
            background: var(--btn);
            font-weight: 400;
            line-height: 22.5px;
            letter-spacing: 0%;
            text-align: center;
            color: var(--text_layout);
            border-radius: 35px;
            font-size: 15px;
}

.wellcome_block {
    background-image: url(./pic/body/wellcome_fon.jpeg);
    width: 1440px;
    left: 0%;
    right: 0%;
    top: -0.36px;
    bottom: 0.36px;
    height: 810px;
}

.sponsor {

}

.sponsor_list {
    display: flex;
    align-items: center;
    height: 83px;
    padding: auto;
    background: black;
    width: 100%;
    gap: 122px;
    margin: auto;
    justify-content: center;
}

.find {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 700px;
    margin: 52px auto auto;
}

.find_look {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

.find_text {
    font-size: 15px;
    line-height: 18.75px;
    letter-spacing: 0%;
    text-align: center;
    font-weight: 400;
    margin: 17px auto 0;
}

.find_line {
    height: 25px;
    width: 70px;
    margin: 0;
    border-bottom: 2px solid rgb(207, 207, 207);
}

.find_img {
    gap: 20px;
    display: flex;
}

.find_img_block_1 {
    background-image: url(./pic/body/s_boards.jpeg);
    width: 560px;
    height: 560px;
}

.find_img_block_2 {
    background-image: url(./pic/body/s_revs.jpeg);
    width: 560px;
    height: 560px;
}

.find_img_text {}